{% extends 'blog/base.html' %}
{% load static %}
{% load blog_extras %}

{% block title %}

Categorias{% if request.resolver_match.kwargs.pk|get_cat_name %}{{ request.resolver_match.kwargs.pk|get_cat_name }}{%else%}
| Todas{% endif %}
{% endblock title %}

{% block content %}
<main class="page projects-page">
    <section class="portfolio-block projects-with-sidebar">
        <div class="container">
            <div class="heading">
                <h2>Todas las categorias</h2>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <ul class="list-unstyled sidebar">
                        <li>
                            <a href="{% url 'blog:categorias' %}">
                                <button type="button" class="btn {% is_active_category 'blog:categorias' url=request.path %}">
                                    Todos <span class="badge badge-light">{% total_posts %}</span>
                                    <span class="sr-only">unread messages</span>
                                </button>
                            </a>
                        </li>
                        {% for cat in categorias_listado %}
                        <li>
                            <a href="{% url 'blog:categorias' cat.id cat.nombre|slugify %}">
                                <button type="button" class="btn {% is_active_category 'blog:categorias' cat.id cat.nombre|slugify request.path %}">
                                    {{cat.nombre}} <span class="badge badge-light">{% count_posts cat.id %}</span>
                                    <span class="sr-only">unread messages</span>
                                </button>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-9">
                    <div class="row">
                        {% for post in  posts %}
                        <div class="col-md-6 col-lg-4 project-sidebar-card">
                            <a href="{% url 'blog:post_view' post.id post.titulo|slugify %}">
                                <img class="img-fluid image scale-on-hover"
                                    style="max-height: 170px;min-height: 170px; min-width: 100%; max-width: 100%"
                                    src="{{post.imagen.url}}">
                            </a>
                        </div>
                        {% empty %}
                        <div class="col-md-126 col-lg-12 text-center">
                            <p class="lead">No hay ningun post :(</p>
                        </div>
                        {% endfor %}
                    </div>
                    {% block pagination %}
                    {% include "blog/includes/pagination.html" %}
                    {% endblock pagination %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}