{% extends 'blog/base.html' %}
{% load static %}

{% block title %}
Blog de {{configuracion.apodo}}
{% endblock title %}



{% block content %}
<main class="page lanidng-page">
{% block header %}
{% include "blog/includes/header.html" with extras=True %}
{% endblock header %}
{% load blog_extras %}
<section class="portfolio-block projects compact-grid">
    <div class="container">
        <div class="row no-gutters">
            {% preview_posts 3 as posts %}
            {% include "blog/includes/post.html" with posts=posts %}
        </div>
    </div>
</section>
</main>
{% endblock content %}

{% block footer_content %}
<section class="portfolio-block call-to-action border-bottom">
    <div class="container">
        <div class="d-flex justify-content-center align-items-center content">
            <h3>Te gustaría cotizar conmigo?</h3><a href="{% url 'blog:contacto' %}"<button class="btn btn-outline-primary btn-lg" type="button">Contáctame</button></a>
        </div>
    </div>
</section>
{% endblock footer_content %}

